<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=vitalii;AccountKey=+8rWOE1mvYVuW8/TKJ8PbNK0yZ3ojszOd502p61qLiKug7zbNQ/7A9WQHCcz7gSlowRp4nbATMqbrycw+9yAwA==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>